img{
    Width:90%;
}
div p {
    color:purple;
}
.content + .footer{
    font-style:italic;
}
.header > h2 {
    font-size:40px;
    color:red;
}



img:hover{
    filter:hue-rotate(1005deg);
}
a:link {
  color: #FF0000;
}
a:visited {
  color: purple;
}
img:active {
  filter:blur(2px);
}
.header::first-letter {
  color: Purple;
  font-size: 50px;
}
p::first-line {
  
  font-family:Helvetica;
  font-size:30px;
}
